@import url(alfred.css);
@import url(start.css);


/* ALLE ZELFDE CODE */

.title{
    color: white;
    font-family: Rambla;
    font-weight: bold; 
    width: 90%; 
    font-size: 46px; 
}

.button1{  
    background-color:#EC4F41;
    color: white; 
    font-weight: bold;
    font-size: 18px;  
    width: 60%; 
    padding: 2px 14px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 4px solid #EC4F41; 
  }
  


  body {  
    background-repeat: no-repeat; 
    background-position: top left 20%;
  }    
 
  .container{ 
      margin: 20px;
      position: relative;
  } 
